@{
    ViewData["Title"] = "Items";
    Layout = "~/Views/Shared/LayoutDashboard.cshtml";
}
<style>
  @* * {
    border: 1px solid red;
  } *@
</style>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Items</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Items</li>
          </ol>
        </div><!-- /.col -->
        <div class="col">
        <button  type="button" class="btn btn-sm text-light mt-2 btn-primary" data-toggle="modal" data-target="#ModalItem" onclick="ClearModalItem();" id="add-item">
                + Add Item
        </button>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <section class="content">
     
    <div class="container-fluid">
        <table id="tb_items" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Action</th>
             
            </tr>
          </thead>
        </table>
    </div>
  </section>

  <!-- Modal -->
  <div class="modal fade" id="ModalItem" tabindex="-1" aria-labelledby="ModalItemLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalItemLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
              <input type="text" class="form-control" id="ItemId" hidden>

              <div class="form-group">
                  <label for="brand">Name</label>
                  <input type="text" class="form-control italic-placeholder" id="ItemName" placeholder="Enter Item Name" required>
                  <span class="error-message" style="color: red; display: none;">This field is required!</span>
              </div>
              <div class="form-group">
                  <label for="brand">Quantity</label>
                  <input type="text" class="form-control italic-placeholder" id="ItemQuantity" placeholder="Enter Item Quantity" required>
                  <span class="error-message" style="color: red; display: none;">This field is required!</span>
              </div>
              <div class="form-group">
                  <label for="brand">Price</label>
                  <input type="text" class="form-control italic-placeholder" id="ItemPrice" placeholder="Enter Item Price" required>
                  <span class="error-message" style="color: red; display: none;">This field is required!</span>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="Save" onclick="SaveItem();">Save</button>
          <button type="button" class="btn btn-warning" id="Update" onclick="UpdateItem();">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="~/js/Items.js"></script>
